<div class="block" id="block-lists">
  <div class="content">
    <h2 class="title">Unanswered Emails</h2>
    <div class="inner">
      <ul class="list">    
        <% @emails.each do |email| %>        
        <li>
          <div class="left">
            <% form_for email do |form| %>
              <%= form.hidden_field :event, :value => 'archive' %>
              <%= submit_tag "Ignore" %>
            <% end %>
            
            <% form_for email do |form| %>
              <%= form.select :response_id, Response.all.map {|m| [ m.name, m.id ] } %>              
              <%= form.hidden_field :event, :value => "reply" %>
              <%= submit_tag "Reply" %>
            <% end %>
          </div>
          <div class="item">                
            <p><%= display_email(email) %></p>
            
            <%= link_to_function("Reply", "$('#email_#{email.id}_reply').toggle()") %>
            <div id="email_<%= email.id %>_reply" style="display:none">
              <% form_for email do |f| %>
                <%= f.hidden_field :event, :value => "reply" %>
                <%= f.text_area :reply %>
                <%= submit_tag "Reply" %>
              <% end %>
            </div>
            
            <%= link_to_function("Forward", "$('#email_#{email.id}_forward').toggle()") %>
            <div id="email_<%= email.id %>_forward" style="display:none">
              <% form_for email do |f| %>
                <%= f.hidden_field :event, :value => "forward" %>
                <%= f.select :forward, Forward.all.map{ |f| [f.email, f.email] } %>
                <%= submit_tag "Forward to this address" %>
              <% end %>
              
              <% form_for email do |f| %>
                <%= f.hidden_field :event, :value => "forward" %>
                <%= f.text_field :forward %>
                <%= f.check_box :save_forward %> Save this forward
                <%= submit_tag "Forward" %>
              <% end %>
            </div>
          </div>              
        </li>    
        <% end %>     
      </ul>
    </div>
  </div>
</div>                          
